.body{
    min-height: 100vh;
    background-color: #272727;

}

.full-width {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    flex-direction: row;
    height: 100%;
    
}

