.p {
    display: block;
    height: 100%;
    width: 14.28%;
    font-size: 1.5rem;
    color: black;
    background-color: white;
    border: 0.3125rem solid black;
    /* margin: 15px 0 0; */
    text-align: center;
    padding: 0.625rem;
    padding-top: 14.375rem;
    padding-bottom: 0;
    text-decoration: underline 0.125rem blue;
    line-height: 2rem;

    position: fixed;
    overflow: hidden;
    top: 0;

}

.right {
    position: fixed;
    right: 0;
    color: purple;
}

.left {
    left: 0;
}