:root {
    --padding: 1rem;
    --max-colors: 7;
    --color-width: min(calc((100% - var(--padding)*2) / 7), 100px);

}

.palette {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--color-width));
    padding: 1rem;
    width: 100%;
    justify-content: center;
    margin: 0.9375rem 0;

}

.color {
    width: 100%;
    height: 300px;
    border: none;
    border-top: 0.1875rem solid white;
    border-bottom: 0.1875rem solid white;
}

.color:first-of-type {
    border-left: 0.1875rem solid white;
}

.color:last-of-type {
    border-right: 0.1875rem solid white;
}

.color:hover {
    cursor: pointer;
}

@media only screen and (max-width:950px) {
    .color {
        height: 240px;
    }
}

@media only screen and (max-width:650px) {
    .color {
        height: 180px;
    }
}

@media only screen and (max-width:400px) {
    .color {
        height: 120px;
    }
}